{% extends "layout.html" %}

{% block title %}
Welcome to Dance Hub
{% endblock %}

{% block content %}
</head>
<body>

<h2>Dance Schools</h2>
<p>Search with a school name, dance style or city:</p>
<form action="/result" method="GET" class="search-form">
  <label for="query">Search:</label>
  <input type="text" name="query" id="query">
  <input type="submit" value="Go">
</form>

<hr> 
Total number: {{ count }}

{% if add_button %}
    <a href="/add_dance_school">Add New School</a>
{% endif %}

<hr>

{% for message in messages %}
  <a href="/school/{{ message[0] }}"> {{ message[1] }}</a>
  <p>
  <i>Description:</I> {{ message[2] }}
  <p>
  <i>Rating:</i> {{ message[3] }}
  <p>
  <i>City:</I> {{ message[4] }}
  <div class="boolean_buttons">  
    {% if delete_button %}
      <form action="/delete_school/{{ message[0] }}" method="POST">
        <input type="hidden" name="_method" value="POST">
        <button type="submit">Delete school</button>
      </form>
  
    {% endif %}
  </div>
  <hr>
  
{% endfor %}

</body>
{% endblock %}
