{% extends "layout.html" %}

{% block title %}
Welcome to Dance Hub
{% endblock %}

{% block content %}
</head>
<body>

<h2>Dance Schools</h2>

<form action="/result" method="GET">

  Search: <input type="text" name="query">
  <input type="submit" value="Go">

</form>

<hr> <!-- add break -->
Total number: {{ count }}
{% if add_button %}
    <a href="/add_dance_school">Add New School</a>
{% endif %}

<hr>
{% for message in messages %}
<a href="/school/{{ message[0] }}"> {{ message[1] }}</a>
<p>
<i>Description:</I> {{ message[2] }}
<p>
<i>Rating:</i> {{ message[3] }}
<p>
<i>City:</I> {{ message[4] }}
<hr>
{% endfor %}

</body>
{% endblock %}
