{% extends "layout.html" %}

{% block title %}
Welcome to Dance Hub
{% endblock %}

{% block content %}

<h2>Review</h2>

<form action="/send_review/{{ id }}", method="POST" enctype="multipart/form-data">
    <p>
        School: {{ name }}
    </p>
    <p>
        Rating:
        <select name="rating" required>
            <option value="" selected disabled hidden>Select Rating</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </p>
    <p>
        Write your review: <br>
        <textarea name="comment" rows="6" cols="50"></textarea>
    </p>
    <input type="submit" value="Submit Review">
</form>

{% endblock %}
