{% extends "layout.html" %}

{% block title %}
Welcome to Dance Hub
{% endblock %}

{% block content %}

<div class="school-details">
    <h2>{{ name }}</h2>
    <p><strong>Location:</strong> {{ location }}</p>
    <p><strong>Description:</strong> {{ description }}</p>
    <p><strong>URL:</strong> {{ url }}</p>
    <a href="/{{ id }}/add_review">Add Review</a>
</div>
<hr>

<h2>Reviews</h2>
<hr>
{% if reviews %}
  {% for review in reviews %}
    {% if review.visible %}
      <p><strong>Rating:</strong> {{ review.rating }}</p>
      <p><strong>Comment:</strong> {{ review.comment }}</p>
        <div class="boolean_buttons">
          {% if add_button %}
            <form action="/delete_review/{{ review.id }}" method="POST">
              <input type="hidden" name="_method" value="POST">
              <button type="submit">Delete review</button>
            </form>
          {% endif %}
        </div>
    <hr>
    {% endif %}
    
  {% endfor %}
{% else %}
  <p>No reviews available for this school yet.</p>
{% endif %}

{% endblock %}
